/* Gloabl Styling START */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
/* Gloabl Styling END */

/* single video styling START */
.video-container {
  display: flex;
  flex-direction: column;
}
.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.9em;
}
/* single video styling END */
